# Int and Float

We'll start with the basic variables of int, float and also complex datatype.

Python has various "types" of numbers. We'll mainly focus on integers and floating point numbers.

In general maths we have various distinctions such as natural numebrs, whole numbers, integers and so on and so forth.
Python has a more general general classification of iint and float datatype.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [77]:
# Addition
2+1

3

In [78]:
# Subtraction
2-1

1

In [79]:
# Multiplication
2*2

4

In [80]:
# Division
#Irrespective of the datatype of the elements the output results in a float datatype
3/2

1.5

In [81]:
# Floor Division
#This type of division ensures that the output will be of int datatype.
#The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.
7//4

1

### Arithmetic continued

In [82]:
# Powers (you don't need to call a particular function for performing the power operation)
2**3

8

In [83]:
# To get the roots of a certain number you can raise it to the fractional power
4**0.5

2.0

In [84]:
# Order of Operations followed in Python is the same as normal maths
# Python also follows the BODMAS rule
2 + 10 * 10 + 3

105

In [85]:
# To specify the order of operation use parathesis
(2+10) * (10+3)

156

**Modulo operator**

In [86]:
# Modulo operator provides you with the remainder of the division
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

## Variable Assignments

Let's talk about variables and what exactly they are.
In simple terms a variable name is used to access the data stored in the memory location for which we have created the variable name.
As such variable names have to follow a covention or a set of rule such as:
    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python.
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [87]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [88]:
# Adding the objects
a+a

10

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [89]:
# Reassignment
a = 10

In [90]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [91]:
# Check
a

10

In [92]:
# Use A to redefine A
a = a + a

In [93]:
# Check the value of a now becomes twice its own sum
a

20

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [94]:
#Here are some other ways of reassigning variables
a = 10
b = 5
c = 20
d = 15
a += b
b *= c
c -= d
#Can you guess what would be the new values of a, b, c?

In [95]:
#We can also use variable names to perform mathematical or logical operations
#For example
radius = 7
pi = 3.14
area = pi*(radius**2)
area

153.86

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types.
This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [96]:
#Let's start by creating a int variable
var1 = 100
var1

100

In [97]:
#We can change the value of the variable created as well as the datatype of the variable created.
var1 = 'Hey I changed the datatype and it is not showing any error'
var1

'Hey I changed the datatype and it is not showing any error'

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [98]:
type(var1)

str

In [99]:
type(pi)

float

In [100]:
type(radius)

int

In [101]:
comp = 45 + 45j
type(comp)

complex

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

We'll go through the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [102]:
# Single word
'Technoids'

'Technoids'

In [103]:
# Entire phrase 
'A number of words 12345(numbers), special characters: $%^&*!@#$ are all treated as characters'

'A number of words 12345(numbers), special characters: $%^&*!@#$ are all treated as characters'

In [104]:
# We can also use double quote
"Technoids is taking a workshop on python"

'Technoids is taking a workshop on python'

In [105]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-105-da9a34b3dc31>, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [106]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Print Formatting

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [107]:
# Note that we can't output multiple strings this way or any other variable or information
#In this cell only the last written variable will be printed
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [108]:
#To print out multiple sentences
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')                            #\n is a escape sequence which adds a new line
print('See what\tI mean?')           #\t adds 4 whitespaces when it is added

Hello World 1
Hello World 2
Use
 to print a new line


See what	I mean?

## Formatting with placeholders
You can use <code>%s</code> to inject strings into your print statements. The modulo `%` is referred to as a "string formatting operator".

In [109]:
#In place of the placeholder %s something gets printed
print("I'm going to write %s here." %'something')

I'm going to write something here.

You can pass multiple items by placing them inside a tuple after the `%` operator.

In [110]:
print("I'm going to go to %s, its around %s." %('La Pinoz','Banerghatta'))

I'm going to go to La Pinoz, its around Banerghatta.

You can also pass variable names:

In [111]:
x, y = 9, 'Academic Building I'
print("Classes start at %d, in the %s."%(x,y))

Classes start at 9, in the Academic Building I.

## Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [112]:
print("People generally don't like {} flavor in ice-cream.".format('Mint Chocolate'))

People generally don't like Mint Chocolate flavor in ice-cream.

### The .format() method has several advantages over the %s placeholder method:
#### 1. Inserted objects can be called by index position:

In [113]:
print('The {2} for {1} have {0}.'.format('started','Python','classes'))

The classes for Python have started.

#### 2. Inserted objects can be assigned keywords:

In [114]:
print('The {c} for {b} have {a}.'.format(a = 'started', b='Python',c ='classes'))

The classes for Python have started.

#### 3. Inserted objects can be reused, avoiding duplication:

In [115]:
print('A %s for a %s.' %('eye','eye'))
# vs.
print('A {a} for a {a}.'.format(a='eye'))

A eye for a eye.
A eye for a eye.

## Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [116]:
college = 'RNSIT'

print(f"I am studying at {college}.")

I am studying at RNSIT.

### Padding and Precision of Floating Point Numbers
Floating point numbers use the format <code>%5.2f</code>. Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Let's see some examples:

In [117]:
#Using placeholders
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [118]:
#Using .format() method
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     13.58

In [119]:
#Using fliteral
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [120]:
# Assign s as a string
s = 'Education is beneficial'

In [121]:
# Print the object
print(s)

Education is beneficial

Let's start indexing!

In [122]:
# Show first element (in this case a letter)
s[0]

'E'

In [123]:
s[2]

'u'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [124]:
# Grab everything past the first term all the way to the length of s
s[1:]

'ducation is beneficial'

In [125]:
# Note that there is no change to the original s
s

'Education is beneficial'

In [126]:
# Grab everything UP TO the 3rd index
s[:3]

'Edu'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [127]:
#To include the character at index 3
s[:4]

'Educ'

In [128]:
#Everything
s[:]

'Education is beneficial'

In [129]:
#We can also use negative indexing to go backwards.
# Last letter (one index behind 0 so it loops back around)
s[-1]

'l'

In [130]:
# Grab everything but the last letter
s[:-1]

'Education is beneficia'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [131]:
# Grab everything, but go in steps size of 1
s[::1]

'Education is beneficial'

In [132]:
# Grab everything, but go in step sizes of 2
s[::2]

'Euaini eeiil'

In [133]:
# We can use this to print a string backwards
s[::-1]

'laicifeneb si noitacudE'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [134]:
s

'Education is beneficial'

We can also use a function called len() to check the length of a string!

In [135]:
len(s)

23

In [136]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [137]:
# Concatenate strings!
s + ' throughtout life.'

'Education is beneficial throughtout life.'

In [138]:
# We can reassign s completely though!
s = s + ' throughtout life.'

We can use the multiplication symbol to create repetition!

In [139]:
letter = 'z'*999
letter

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [140]:
# Upper Case a string
s.upper()

'EDUCATION IS BENEFICIAL THROUGHTOUT LIFE.'

In [141]:
# Lower case
s.lower()

'education is beneficial throughtout life.'

In [142]:
# Split a string by blank space (this is the default)
s.split()

['Education', 'is', 'beneficial', 'throughtout', 'life.']

In [143]:
# Split a string by blank space (this is the default)
s.split('e')
#Note that E and e are treated as different values as they hold different ASCII values.

['Education is b', 'n', 'ficial throughtout lif', '.']

## See you in the next session!!