# Python basics Day 1 and Day 2 Assessment

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

Sets:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 1200.50.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 10 * (13**3 + 19) 
    
    What is the value of the expression 10 * 13**3 + 19 
    
    What is the value of the expression 10 + 13**3 * 19

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s cube root, as well as its cube?

In [ ]:
# Cube root:

In [ ]:
# Cube:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'Absquatulate'
# Print out 'q' using indexing

Reverse the string 'hello' using slicing:

In [ ]:
s ='Absquatulate'
# Reverse the string using slicing

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='Absquatulate'
# Print out the 't'

# Method 1:

In [ ]:
# Method 2:

## Lists

Build this list [10,10,10] two separate ways.

In [ ]:
# Method 1:

In [ ]:
# Method 2:

Reassign 'Absquatulate' in this nested list to say 'Cabotage' instead:

In [ ]:
list3 = [1,2,[3,4,'Absquatulate']]

Sort the list below:

In [ ]:
list4 = [999, 1003, 543, 1232, 897]

## Dictionaries

Using keys and indexing, grab the 'Absquatulate' from the following dictionaries:

In [ ]:
d = {'First_key':'Absquatulate'}
# Grab 'Absquatulate'

In [ ]:
d = {'k1':{'k2':'Absquatulate'}}
# Grab 'Absquatulate'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['Cabotage',['Absquatulate']]}]}

#Grab Absquatulate

In [ ]:
# This will be hard and annoying!
# Grab Absquatulate
d = {'k1':[1,2,{'k2':['Pronk',{'Cabotage':[1,2,['Absquatulate']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br><br>

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2,12,23,13,4,31,4,34,54,5,45,56,34,3,21,12,32]

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

Final Question: What is the boolean output of the cell block below? Ans = False

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

## Special Questions:

1. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string.

    Sample String : 'abc', 'xyz'

    Expected Result : 'xyc abz'

2. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. Go to the editor
    Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
    Expected Output : ['Green', 'White', 'Black']
    You can create your own sample list.

3. Write a Python program to sum all the items in a dictionary.
    You can create a dictionary of your choice.

4. Write a Python program to replace last value of tuples in a list.

    Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
    
    Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

5. Write a Python program to find maximum and the minimum value in a set.

## Great Job on your first assessment!